<footer class="footer">
    <div class="container">
        <div class="footer_container">
            <div class="footer_logo__box">
                <a href="index.html">
                    <img src="assets/images/logo2.png" alt="Book" class="header_logo" />
                </a>
            </div>
            <ul class="footer_list">
                <li class="footer_item">
                    <a href="" class="footer_link">giybat.uz</a>
                </li>
                <li class="footer_item">
                    <a href="" class="footer_link">Online darslar</a>
                </li>
                <li class="footer_item">
                    <a href="" class="footer_link">videohub.uz</a>
                </li>
                <li class="footer_item">
                    <a href="" class="footer_link">dasturlash.uz</a>
                </li>
                <li class="footer_item">All rights ni olib tashlaysan</li>
            </ul>
        </div>
    </div>
</footer>